body {
  font-family: 'Lato';
}

h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: #333333;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}

a {
  text-decoration: none;
}

.container-1 {
  min-height: 665px;
  display: flex;
  background-color: #F4F6F9; 
  background-image: url(img/phones.png);
  background-repeat: no-repeat;
  background-position:right;
}

.container-1_content {
  margin-top: 63px; 
  margin-left: 6%;
  width: 38%;
}

.container-1_logo {
  margin-bottom: 95px;
}

.container-1_text {
  font-size: 18px;
  line-height: 26px;
  color: #4F4F4F;
  width: 75%;
}

.container-1_logo-2 {
  margin-top: 80px;
  display: flex;
  gap: 35px;
}

.container-1_music:hover {
  transform: scale(1.1);
}


/* container-2 */
.container-2 {
  min-height: 592px;
  display: flex;  
  background: linear-gradient(270deg, #FFFFFF 48.16%, rgba(255, 255, 255, 0.4) 67%, rgba(255, 255, 255, 0.5) 100%), url(img/photo_container-2.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.container-2_photo {
  width: 50%;
    
}

.block_arsenal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.block_photo_video {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.arsenal {
  margin-top: 88px;
  margin-left: -12%;
  margin-bottom: -99px;
  position: relative;  
  z-index: 2;
}

.photo_video {
  margin-left: 24%;
  z-index: 1;
}

.container-2_content {
  margin-left: 8%; 
  width: 42%;
  margin-top: 8%; 
  z-index: 3;
}

.link { 
  font-weight: bold;
  font-size: 16px;
  color: #00ADEE;
}

.container_text {
  width: 72%;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
}

/* container-3 */
.container-3 {
  min-height: 716px;
  display: flex;
  background: url(img/photo_container-3.png);
  background-repeat: no-repeat; 
  background-position: right;
}

.container-3_content {
  margin-left: 13%;
  margin-top: 190px;
  width: 55%;  
}

.bottom_link {
  margin-top: 75px;
}
  
/* container-4 */
.container-4 {
  min-height: 716px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(img/photo_container-4.png);
  background-repeat: no-repeat;  
  background-size: 100%;
}

.container_title {
  color: #FFFFFF;
  margin-top: 60px;
}

.container-4_row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.container-4_block {
  width: 21%;
}

.container-4_text {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
}

/* container-5 */
.container-5 {
  min-height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container-5 .container_title {
  color: #333333;
  margin-bottom: 50px;
}

.container-5_content {
  display: flex;
  justify-content: space-around;
  gap: 3%;   
}

.container-5_block {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  width: 325px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
}

.title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_row_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.container-5_photo {
  width: 30px;
  height: 30px;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  position: absolute;
  gap: 67vw;
}

.arrow-1:hover {
  transform: scale(1.1);
}

.container-5_dots {
  margin-top: 45px;
}

.container-5_block_photo { 
  box-sizing: border-box;  
  width: 325px;
  height: 175px;
}

.first-block {
  margin-left: -5%;
  opacity: 0.5;
}

.last-block {
  margin-right: -5%;
  opacity: 0.5;
}

/* container-6 */
.container-6 {
  min-height: 278px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
}

.container-6_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}

.container-6_icon {
  cursor: pointer;
}

.container-6_icon:hover {
  transform: scale(1.1);
}

/* container-7 */
.container-7 {
  min-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(img/container-7.png);
  background-repeat: no-repeat;
  background-position: left; 
  background-size: 42%;
}

.container-7_content {
  margin-left: 50%;
}

.footer {
  height: 127px;
  background: #00ADEE;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.social_networks {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
}

.footer_menu_element:hover {
  transform: scale(1.1);
}

.footer_menu_element:active {
  transform: scale(0.8);
}

.social_networks_element:hover {
  transform: scale(1.2);
}

.social_networks_element:active {
  transform: scale(0.8);  
}




@media screen and (max-width: 1440px) {
  .background_content, .container-3_content {
    width: 560px;
    background: linear-gradient(to right, rgba(244, 246, 249, 0.6) 80%,  rgba(244, 246, 249, 0.5) 100%);
    border-radius: 50px;
  }
}

@media screen and (max-width: 720px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .background_content, .container-3_content {
    width: 100%;
    background: none;
  }
  
  .container-1 {
    background-image: unset;
    justify-content: center;
    min-height: 580px;
  }

  .logo_ball {
    width: 20%;
  }

  .container-1_content {    
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .container-1_text {
    width: 100%;
    font-size: 16px;
    line-height: 23px;
  }
  
  .container-1_logo-2 {
    justify-content: center;
  }

  /* container-2 */
  .container-2 {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 45%, rgba(255, 255, 255, 0.3) 100%), url(img/photo_container-2.jpg);
    background-position: bottom;
  }

  .container-2_photo {
    width: 100%;
  }

  .arsenal {
    margin-left: -30%;
    margin-bottom: -99px;
  }
  
  .photo_video {
    margin-bottom: 60px;
  }

  .container-2_content {    
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;  
  }

  .link { 
    margin-bottom: 60px;
  }

  .container_text {
    width: 100%;
    margin-bottom: 30px; 
  }

    /* container-3 */
  .container-3 {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 1500px;
    background: url(img/photo_container-3.png);
    background-position: bottom; 
    background-position: 93%;     
    background-repeat: no-repeat;
  }

  .container-3_content {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 65px;
  }

  .bottom_link {
    margin-top: 75px;
  }
}