.footer {
  background: #00ADEE;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.social_networks {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
}

.footer_menu_element:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.footer_menu_element:active {
  transform: scale(0.8);
}

.social_networks_element:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -1, 0.265, 1.55);
}

.social_networks_element:active {
  transform: scale(0.8);  
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
  }
  .footer_logo {
    margin-top: 40px;
  }

  .footer_menu {
    order: 3;
  }

  .social_networks {
    order: 2;
  }
} 